.max-width {
	margin: 0 auto;
	max-width: 1260px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.header {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 16px 0;
	border-top: 2px solid $v--color-black;
	background-color: $v--color-white;
	z-index: 100;

	&_body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&_logo {
		// display: flex;
		// align-items: center;
		// font-family: 'Gentium Basic', serif;
		font-weight: 600;
		// font-size: 24px;
		letter-spacing: 0.24px;
		color: $v--color-black;
	}

	&_nav {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-left: 40px;
			display: inline-block;
			text-align: right;
		}

		a {
			color: $v--color-green;
			font-weight: 500;
		}
	}
}

.headline {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding-top: 40px;
	text-align: center;

	h1 {
		margin: 32px 0 40px;
		line-height: 1.2;
		font-size: 64px;
		font-family: 'Gentium Basic', serif;
		font-weight: 700;
		color: $v--color-black;
	}

	.em {
		position: relative;

		&:before {
			position: absolute;
			left: 0;
			content: '\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0';
			text-decoration: underline;
			text-decoration-style: wavy;
			color: $v--color-sage;
			z-index: -1;
		}
	}

	&_body {
		position: relative;
	}

	&_date {
		font-family: 'Space Mono', monospace;
		font-weight: 700;
		font-size: 18px;
	}

	&_cta {
		display: inline-block;
		padding: 8px 24px;
		border-radius: 32px;
		border: 2px solid $v--color-citrus;
		background-color: $v--color-white;
		font-size: 32px;
		font-weight: 500;
		color: $v--color-citrus;

		&:hover,
		&:focus {
			background-color: $v--color-citrus;
			color: $v--color-white;
		}
	}

	&_icon {
		display: block;
		margin: 24px auto;
		width: 40px;
		transform: rotate(90deg);
	}
}

.star {
	position: absolute;
	top: -40px;
	right: -100px;
	
	a {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		border-radius: 8px;
		background: $v--color-citrus;
		text-align: center;
		font-family: 'Work Sans', sans-serif;
		font-weight: 600;
		font-size: 24px;
		color: $v--color-white;
		transition: transform 0.16s;
		transform: rotate(15deg);

		&:before,
	    &:after {
	      content: "";
	      position: absolute;
	      top: 0;
	      left: 0;
	      height: 100px;
	      width: 100px;
	      border-radius: 8px;
	      background: $v--color-citrus;
	      z-index: -1;
	    }

	    &:before {
	      transform: rotate(30deg);
	    }

	    &:after {
	      transform: rotate(60deg);
	    }

	    &:hover {
			transform: rotate(10deg);
		}
	}
}

.spread {
	h2 {
		text-align: center;
		font-size: 64px;
		color: $v--color-sage;
		-webkit-text-fill-color: $v--color-white;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $v--color-sage;
	}

	&_item {
		padding: 0 40px;

		h3 {
			margin: 0 0 8px;
			font-size: 18px;
		}

		p {
			line-height: 1.36;
			font-size: 18px;
		}
	}

	&_icon {
		margin-bottom: 4px;
		font-size: 64px;
		color: $v--color-citrus;
	}
}

.speakers {
	border-top: 2px solid $v--color-citrus;
	border-bottom: 2px solid $v--color-citrus;
	margin-top: 80px;
	background-color: $v--color-powder;
	padding: 16px 0;
	// color: $v--color-white;

	h2 {
		margin-bottom: 80px;
		text-align: center;
		font-size: 64px;
		color: $v--color-citrus;
		-webkit-text-fill-color: $v--color-white;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $v--color-citrus;
	}

	&_grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&_item {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1;
		margin-bottom: 64px;
		padding: 0 40px;
		text-align: center;
	}

	&_photo {
		display: flex;
		justify-content: center;
		width: 200px;
		height: 320px;
		border: 2px solid $v--color-citrus;
		border-radius: 160px;
		background-color: $v--color-blush;
		overflow: hidden;

		img {
			height: 100%;
		}
	}

	&_name {
		margin: 16px 0 4px;
		// font-size: 18px;
		font-weight: 600;
	}

	// &_name,
	// &_title {
	// 	color: $v--color-citrus;
	// }

	&_talk {
		margin-top: 12px;
		font-family: 'Gentium Basic', serif;
		font-style: italic;
		font-size: 20px;
	}

	&_social {
		display: flex;
		margin-top: 8px;
	}

	svg {
		width: 20px;
		height: 20px;
		fill: $v--color-citrus;
	}

	a:nth-child(2) svg {
		margin-left: 8px;
	}
}

.agenda {
	margin-top: 20px;
	padding: 16px 0;
	line-height: 1.28;
	font-size: 20px;

	h2 {
		margin-bottom: 80px;
		text-align: center;
		font-size: 64px;
		color: $v--color-green;
		-webkit-text-fill-color: $v--color-white;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $v--color-green;
	}

	&_header {
		margin-bottom: 40px;
		// font-weight: 600;
		color: $v--color-citrus;
	}

	&_item {
		margin-bottom: 56px;


		> div {
			padding-right: 40px;

			&:last-child {
				padding-right: 0;
			}
		}

		&.breakout {
			// border: 2px solid $v--color-citrus;
			border-radius: 16px;
			margin-left: -40px;
			padding: 18px 0 16px 40px;
			background-color: $v--color-citrus;
			color: $v--color-white;

			svg {
				fill: $v--color-white;
			}
		}
	}

	&_intro {
		position: relative;

		svg {
			position: absolute;
			top: 6px;
			left: 0;
			width: 16px;
			fill: $v--color-black;
		}

		> div {
			margin-left: 40px;
		}
	}

	&_speaker {
		display: block;
		font-family: 'Gentium Basic', serif;
		font-style: italic;
		font-size: 22px;
	}

	&_title {
		margin-bottom: 8px;
		// font-family: 'Gentium Basic', serif;
		// font-style: italic;
		// font-size: 22px;
		font-weight: 600;
	}
}

.faq {
	margin-top: 20px;
	padding: 16px 0;
	line-height: 1.28;
	font-size: 20px;

	h2 {
		margin-bottom: 80px;
		text-align: center;
		font-size: 64px;
		color: $v--color-green;
		-webkit-text-fill-color: $v--color-white;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $v--color-green;
	}

	&_item {
		display: block;
		position: relative;
		border-bottom: 2px solid $v--color-black;
	}

	input {
		position: absolute;
		opacity: 0;

		&:checked {
			+ label svg {
				transform: rotate(45deg);
			}

			~ p {
				max-height: 100vh;
			}
		}
	}

	&_question {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}

	svg {
		margin-top: -2px;
		width: 20px;
		height: 20px;
		transition: transform 0.16s;
	}

	h3 {
		font-size: 24px;
	}

	p {
		display: block;
		max-height: 0;
		margin: 0;
		overflow: hidden;
		transition: all 0.32s;
	}

	a {
		color: $v--color-black;
		text-decoration: underline;
	}
}

.partners {
	margin-top: 80px;
	padding: 16px 0;
	text-align: center;

	h2 {
		margin-bottom: 40px;
		text-align: center;
		font-family: 'Gentium Basic', serif;
		font-size: 32px;
		color: $v--color-green;
		// -webkit-text-fill-color: $v--color-white;
		// -webkit-text-stroke-width: 1px;
		// -webkit-text-stroke-color: $v--color-green;
	}

	&_logos {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	svg {
		height: 60px;
		fill: $v--color-green;
	}

	a:last-child svg {
		margin-left: 80px;
	}
}
