.max-width {
	margin: 0 auto;
	padding-left: 32px !important;
	padding-right: 32px !important;
	max-width: 1260px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.header {
	position: fixed;
	left: 16px;
	top: 16px;
	border: 2px solid $v--color-black;
	background-color: $v--color-white;
	z-index: 100;

	@media (min-width: map-get($v--grid-breakpoints, md)) {
		left: 24px;
		top: 24px;
	}

	&_body {
		display: flex;
		align-items: center;
	}

	// &_logo {
	// 	font-family: 'Syncopate', sans-serif;
	// 	font-weight: 700;
	// 	font-size: 14px;
	// 	letter-spacing: 2px;
	// 	color: $v--color-citrus;
	// }

	&_logo {
		margin: 16px 20px;
		height: 14px;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			height: 16px;
		}

		svg {
			height: 100%;
		}
	}

	&_nav {

		a {
			display: none;
			border-left: 2px solid $v--color-black;
			padding: 16px 20px;
			color: $v--color-green;
			font-weight: 500;

			@media (min-width: map-get($v--grid-breakpoints, sm)) {
				display: inline-block;
			}

			&:hover {
				color: $v--color-citrus;
			}
		}
	}
}

.headline {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 120px;
	padding-bottom: 16px;
	text-align: center;

	@media (min-width: map-get($v--grid-breakpoints, md)) {
		height: 100vh;
		padding-top: 100px;
		padding-bottom: 0;
	}

	h1 {
		margin: 16px 0 24px;
		line-height: 1.2;
		font-size: 32px;
		font-family: 'Gentium Basic', serif;
		font-weight: 700;
		color: $v--color-black;

		@media (min-width: map-get($v--grid-breakpoints, sm)) {
			
			font-size: 40px;
		}

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			margin: 32px 0 40px;
			font-size: 64px;
		}

		br {
			display: none;

			@media (min-width: map-get($v--grid-breakpoints, sm)) {
				display: block;
			}
		}
	}

	.em {
		position: relative;

		@media (min-width: map-get($v--grid-breakpoints, sm)) {
			&:before {
				position: absolute;
				left: 0;
				content: '\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0';
				text-decoration: underline;
				text-decoration-style: wavy;
				color: $v--color-sage;
				z-index: -1;
			}
		}
	}

	&_body {
		position: relative;
	}

	&_date {
		font-family: 'Syncopate', sans-serif;
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 4px;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			font-size: 14px;
		}
	}

	&_cta {
		display: inline-block;
		padding: 8px 24px;
		border-radius: 32px;
		border: 2px solid $v--color-citrus;
		background-color: $v--color-white;
		font-size: 18px;
		font-weight: 500;
		color: $v--color-citrus;
		cursor: pointer;

		&:hover,
		&:focus {
			background-color: $v--color-citrus;
			color: $v--color-white;
		}

		@media (min-width: map-get($v--grid-breakpoints, sm)) {
			font-size: 24px;
		}

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			font-size: 32px;
		}
	}

	&_icon {
		display: block;
		margin: 24px auto;
		width: 40px;
		transform: rotate(90deg);
	}
}

.star {
	position: absolute;
	bottom: -40px;
	right: 0;

	@media (min-width: map-get($v--grid-breakpoints, sm)) {
		bottom: 60px;
		right: -80px;
	}

	@media (min-width: map-get($v--grid-breakpoints, md)) {
		top: -40px;
		right: -80px;
		bottom: auto;
	}

	@media (min-width: map-get($v--grid-breakpoints, lg)) {
		top: -40px;
		right: -100px;
		bottom: auto;
	}
	
	a {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		border-radius: 8px;
		background: $v--color-citrus;
		text-align: center;
		font-family: 'Work Sans', sans-serif;
		font-weight: 600;
		font-size: 24px;
		color: $v--color-white;
		transition: transform 0.16s;
		transform: rotate(15deg);

		&:before,
	    &:after {
	      content: "";
	      position: absolute;
	      top: 0;
	      left: 0;
	      height: 100px;
	      width: 100px;
	      border-radius: 8px;
	      background: $v--color-citrus;
	      z-index: -1;
	    }

	    &:before {
	      transform: rotate(30deg);
	    }

	    &:after {
	      transform: rotate(60deg);
	    }

	    &:hover {
			transform: rotate(10deg);
		}
	}
}

.mission {
	h2 {
		margin-bottom: 16px;
		text-align: center;
		font-family: 'Syncopate', sans-serif;
		font-weight: 700;
		font-size: 32px;
		color: $v--color-black;
		-webkit-text-fill-color: $v--color-white;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: $v--color-black;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			font-size: 54px;
		}
	}

	p {
		margin-bottom: 40px;
		padding: 0;
		text-align: center;
		line-height: 1.4;
		font-size: 20px;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			margin-bottom: 80px;
			padding: 0 40px;
		}

		@media (min-width: map-get($v--grid-breakpoints, lg)) {
			padding: 0 80px;
			font-size: 24px;
		}

		br {
			display: none;

			@media (min-width: map-get($v--grid-breakpoints, lg)) {
				display: block;
			}
		}
	}

	&_item {
		margin-bottom: 32px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: map-get($v--grid-breakpoints, sm)) {
			padding: 0 16px;
		}

		@media (min-width: map-get($v--grid-breakpoints, lg)) {
			padding: 0 40px;
		}

		h3 {
			margin: 0 0 8px;
			font-size: 18px;
		}

		p {
			margin-bottom: 0;
			text-align: left;
			padding: 0;
			line-height: 1.36;
			font-size: 18px;
		}
	}

	&_icon {
		margin-bottom: 4px;
		font-size: 64px;
		color: $v--color-citrus;
	}
}

.speakers {
	border-top: 2px solid $v--color-citrus;
	border-bottom: 2px solid $v--color-citrus;
	margin-top: 80px;
	background-color: $v--color-powder;
	padding: 32px 0 16px;

	h2 {
		margin-bottom: 24px;
		text-align: center;
		font-family: 'Syncopate', sans-serif;
		font-weight: 700;
		font-size: 32px;
		color: $v--color-citrus;
		-webkit-text-fill-color: $v--color-white;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: $v--color-citrus;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			margin-bottom: 60px;
			font-size: 54px;
		}
	}

	&_grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&_item {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1;
		margin-bottom: 32px;
		padding: 0 16px;
		text-align: center;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			margin-bottom: 64px;
			padding: 0 40px;
		}
	}

	&_photo {
		display: flex;
		justify-content: center;
		width: 140px;
		height: 224px;
		border: 2px solid $v--color-citrus;
		border-radius: 160px;
		background-color: $v--color-blush;
		overflow: hidden;

		@media (min-width: map-get($v--grid-breakpoints, sm)) {
			width: 160px;
			height: 256px;
		}

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			width: 200px;
			height: 320px;
		}

		img {
			height: 100%;
		}
	}

	&_name {
		margin: 16px 0 4px;
		// font-size: 18px;
		font-weight: 600;
	}

	// &_name,
	// &_title {
	// 	color: $v--color-citrus;
	// }

	&_talk {
		margin-top: 12px;
		font-family: 'Gentium Basic', serif;
		font-style: italic;
		font-size: 20px;
	}

	&_social {
		display: flex;
		margin-top: 8px;
	}

	svg {
		width: 20px;
		height: 20px;
		fill: $v--color-citrus;
	}

	a:nth-child(2) svg {
		margin-left: 8px;
	}
}

.agenda {
	margin-top: 20px;
	padding: 16px 0;
	line-height: 1.28;
	font-size: 18px;

	@media (min-width: map-get($v--grid-breakpoints, lg)) {
		font-size: 20px;
	}

	h2 {
		margin-bottom: 0;
		text-align: center;
		font-family: 'Syncopate', sans-serif;
		font-weight: 700;
		font-size: 32px;
		color: $v--color-black;
		-webkit-text-fill-color: $v--color-white;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: $v--color-black;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			font-size: 54px;
		}
	}

	h3 {
		margin-top: 32px;
		margin-bottom: 16px;
		text-align: center;
		font-size: 24px;
		color: $v--color-citrus;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			font-size: 32px;
		}

		&:last-of-type {
			margin-top: 80px;
		}
	}

	&_header {
		display: none;
		margin-bottom: 16px;
		// font-weight: 600;
		color: $v--color-citrus;

		@media (min-width: map-get($v--grid-breakpoints, lg)) {
			display: block;
		}
	}

	&_item {
		margin-bottom: 16px;
		border: 1px solid $v--color-green;
		border-radius: 16px;
		margin-left: -16px;
		margin-right: -16px;
		padding: 18px 16px 16px;
		background-color: $v--color-white;

		> div {
			padding-right: 40px;

			&:last-child {
				padding-right: 0;
			}
		}

		&.breakout {
			border: 2px solid $v--color-citrus;
			background-color: $v--color-powder;
		}
	}

	&_intro {
		position: relative;

		svg {
			position: absolute;
			top: 6px;
			left: 0;
			width: 16px;
			fill: $v--color-black;
		}

		> div {
			margin-left: 40px;
		}

		.agenda_title,
		.agenda_desc {
			@media (min-width: map-get($v--grid-breakpoints, lg)) {
				display: none;
			}
		}
	}

	&_speaker {
		margin-bottom: 8px;
		font-family: 'Gentium Basic', serif;
		font-style: italic;
		font-size: 20px;

		@media (min-width: map-get($v--grid-breakpoints, lg)) {
			margin-bottom: 0;
			font-size: 22px;
		}
	}

	&_title {
		margin-bottom: 8px;
		// font-family: 'Gentium Basic', serif;
		// font-style: italic;
		// font-size: 22px;
		font-weight: 600;
	}

	&_desc {
		margin-bottom: 24px;
		font-family: sans-serif;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			margin-bottom: 0;
		}
	}

	&_time {
		padding-left: 40px;
		
		@media (min-width: map-get($v--grid-breakpoints, md)) {
			text-align: right;
		}

		@media (min-width: map-get($v--grid-breakpoints, lg)) {
			display: none;
		}

		&_divider {
			&:before {
				content: '\00B7';
				margin-right: 4px;

				@media (min-width: map-get($v--grid-breakpoints, md)) {
					content: '';
					display: block;
					margin: 0;
				}
			}
		}
	}

	&_timezone {
		display: inline-block;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			display: none;
		}
	}
}

.faq {
	margin-top: 20px;
	padding: 16px 0;
	line-height: 1.28;
	font-family: sans-serif;
	font-size: 16px;

	@media (min-width: map-get($v--grid-breakpoints, sm)) {
		font-size: 18px
	}

	@media (min-width: map-get($v--grid-breakpoints, md)) {
		font-size: 20px
	}

	h2 {
		margin-bottom: 16px;
		text-align: center;
		font-family: 'Syncopate', sans-serif;
		font-weight: 700;
		font-size: 32px;
		color: $v--color-black;
		-webkit-text-fill-color: $v--color-white;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: $v--color-black;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			font-size: 54px;
		}
	}

	&_item {
		display: block;
		position: relative;
		border-bottom: 2px solid $v--color-black;
	}

	input {
		position: absolute;
		opacity: 0;

		&:checked {
			+ label svg {
				transform: rotate(45deg);
			}

			~ p {
				max-height: 100vh;
			}
		}
	}

	&_question {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}

	svg {
		flex-shrink: 0;
		margin-top: -2px;
		width: 20px;
		height: 20px;
		transition: transform 0.16s;
	}

	h3 {
		padding-right: 24px;
		font-size: 18px;

		@media (min-width: map-get($v--grid-breakpoints, sm)) {
			font-size: 20px
		}

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			font-size: 24px
		}
	}

	p {
		display: block;
		max-height: 0;
		margin: 0;
		overflow: hidden;
		transition: all 0.32s;
	}

	a {
		color: $v--color-black;
		text-decoration: underline;
	}
}

.partners {
	margin-top: 80px;
	padding: 16px 0;
	text-align: center;

	h2 {
		margin-bottom: 40px;
		text-align: center;
		font-family: 'Gentium Basic', serif;
		font-size: 32px;
		color: $v--color-green;
	}

	&_logos {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (min-width: map-get($v--grid-breakpoints, lg)) {
			flex-direction: row;
		}
	}

	svg {
		margin-bottom: 32px;
		height: 40px;
		fill: $v--color-green;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			height: 48px;
		}

		@media (min-width: map-get($v--grid-breakpoints, lg)) {
			height: 60px;
			margin-bottom: 0;
			margin-left: 60px;
		}
	}

	#superhuman svg {
		height: 16px;

		@media (min-width: map-get($v--grid-breakpoints, md)) {
			height: 20px;
		}

		@media (min-width: map-get($v--grid-breakpoints, lg)) {
			height: 28px;
		}
	}
}
