*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

html {
  overflow: auto;
}

body {
  margin: 0;
  padding-bottom: 100px;
  background-color: $v--color-beige;
  font-family: 'Work Sans', sans-serif;
  font-size: 100%;
  color: $v--color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}